# Core Web Framework
Flask
flask-cors
gunicorn

# Data Processing
numpy
pandas

# Machine Learning
scikit-learn
xgboost
lightgbm
catboost
joblib
shap

# Database
sqlalchemy
psycopg2-binary

# Authentication
PyJWT
bcrypt

# Utilitie
python-dotenv
pytz
openai